/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #556270, #ff6b6b);
  background-image: url('../src/styles/images/cute-pokemon-pikachu-rain-desktop-wallpaper-preview.jpg'); /* Add the path to your background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the background image */
  min-height: 100vh;
  margin-top: 60px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .PokemonList-item {
    width: calc(100% - 20px); /* On smaller screens, make items full width */
  }
}
